%html.no-js
  %head
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>#{ current_page.data.title || "Codeship Docs"}</title>
    <meta name="description" content="">

    = stylesheet_link_tag "app"
    = javascript_include_tag "modernizr"
  %body
    = partial 'swiftype'

    .off-canvas-wrap
    .col-md-12
      .row
        .col-md-2
          %h2 Index
          %ul
            %li
              %a{href: "/#getting_started"} Getting Started
            %li
              %a{href: "/#configure_build_and_test_environment"} Configure Build and Test Environment
            %li
              %a{href: "/#deployment"} Configure Deployments
            %li
              %a{href: "/#managing_project"} Managing your project
            %li
              %a{href: "/#languages"} Supported Languages and Frameworks
            %li
              %a{href: "/#databases"} Installed Databases, Queues and Datastores
            %li
              %a{href: "/#browsers"} Installed Browsers for Testing
            %li
              %a{href: "/#troubleshooting"} Troubleshooting
            %li
              %a{href: "/#codeship_infrastructure"} Codeship Security and Infrastructure
            %li
              %a{href: "/#links"}Useful Links
        .col-md-10
          - nav_tree = current_page.source_file.match(/articles\/.*\.html/).to_s.split('/')
          = trail_nav
          / - if nav_tree.present?
          /   %ol.breadcrumb
          /     %li
          /       %a{href: "/"} Overview
          /     %li
          /       %a{href: "/#{nav_tree[1].downcase}"}= replace_with_whitespace nav_tree[1]
          /     %li
          /       = replace_with_whitespace nav_tree[2]
          ~ yield


    %h2 Tags
    %ol
      - blog.tags.each do |tag, articles|
        %li
          = link_to tag, tag_path(tag)
          (#{articles.size})

    %a{href: "https://github.com/codeship/docs/issues", target: :blank}Report issue
    %a.intercom{href: ""} Contact the Codeship Team


    = javascript_include_tag "all"
    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));


